@page
@using Microsoft.Extensions.Localization
@using FoglightAPI.Localization
@using FoglightAPI.Web.Pages.FoglightAPI
@model FoglightAPI.Web.Pages.FoglightAPI.IndexModel
@inject IStringLocalizer<FoglightAPIResource> L

@{
}
<h1>FoglightAPI</h1>
<p>@L["SamplePageMessage"]</p>
